@font-face {
    font-family: 'heading300';
    src: url('../fonts/headingnowtrial-31thin.woff');
}
@font-face {
    font-family: 'heading400';
    src: url('../fonts/headingnowtrial-32light.woff');
}
@font-face {
    font-family: 'heading500';
    src: url('../fonts/headingnowtrial-33book.woff');
}
@font-face {
    font-family: 'heading600';
    src: url('../fonts/headingnowtrial-34regular.woff');
}
@font-face {
    font-family: 'heading700';
    src: url('../fonts/headingnowtrial-35medium.woff');
}