@import url('./fonts.css');
html{
     overflow-x: hidden;
}
body{
    margin: 0px;
    height: 12000px;
    background-image: url('../images/background.png');
    background-position: top;
    background-size: contain;
    transition: .3s;
    color: #aaac9c;
    overflow-x: hidden;
}
.header{
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100px;
    border-bottom: 3px solid #aaac9c;
    backdrop-filter: blur(10px);
}
.header__wrapper{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.audio__button{
    width: 200px;
    height: 55px;
    border: 5px solid #aaac9c;
    box-sizing: border-box;
    color: #aaac9c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'heading600';
    font-size: 30px;
}
.audio__button img{
    width: 30px;
    height: 30px;
}
a{
    text-decoration: none;
    color: #aaac9c;
}
.nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'heading700';
    font-size: 40px;
}
.nav a:hover{
    color: #637f73;
}
.header__burger{
    display: none;
}
.main{
    width: 100%;
    padding-top: 103px;
}
.main__wrapper{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-top: 100px;
}
.main__title{
    width: 600px;
    line-height: 120px;
    display: flex;
    align-items: flex-start;
    font-family: 'heading700';
    font-size: 120px;
    background-image: url(../images/text-back.png);
    background-size: contain;
    color: transparent;
    animation: setBack 1s infinite linear;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #aaac9c;
    background-clip: text;
    transform: translateX(-400px);
    visibility: hidden;
    transition: .5s;
    text-align: left;
}
.main__image{
    width: 300px;
    height: 297px;
    filter: opacity(60%);
    transform: translateX(400px);
    visibility: hidden;
    transition: .5s;
}
.main__image img{
    width: 100%;
    height: 100%;
}

//classes for js
.audio-active{
    animation-name: audio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.main__title.anim-item.active{
  visibility: visible;
   transition: .5s;
transform: translateX(0px);
}
.main__image.anim-item.active{
transform: translateX(0px);
visibility: visible;
transition: .5s;
}
.about{
    width: 100%;
    margin-top: 250px;
}
.about__wrapper{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about__title{
    display: inline-block;
    font-family: 'heading700';
    font-size: 120px;
    color: #aaac9c;
  text-shadow:
      0 0 7px #7ce7b9,
      0 0 42px #7ce7b9,
      0 0 82px #7ce7b9,;
    height: max-content;
    text-align: center;
}
.about__tell{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'heading600';
    font-size: 80px; 
    color: #aaac9c;
  text-shadow:
      0 0 7px #7ce7b9,
      0 0 15px #7ce7b9, 
      0 0 25px #7ce7b9;

}
//animations
@keyframes setBack {
0%{
    background-position: 0 0;
}
100%{
    background-position: 100% 100%;
}
}
@keyframes opacity {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}    
@keyframes hoverAudio {
    0%{
        opacity: 1;
        transition: .3s;
    }
    50%{
        opacity: 0;
        transition: .3s;
    }
    100%{
        opacity: 1;
        transition: .3s;
    }
}
@keyframes audio {
 0%{
    transform: scale(1);
 }   
 50%{
    transform: scale(0.8);
 }
 100%{
    transform: scale(1);
 }
}
@media (max-width:1150px){
    .about__tell{
        margin-top: calc(10px + (50 - 10) * ((100vw - 320px) / (1310 - 320)));
        font-size: calc(20px + (60 + 60 * 0.7) * (100vw - 320px) / 1310);
    }
    .about__title{
        font-size: calc(30px + (90 + 90 * 0.7) * (100vw - 320px) / 1150);
        text-shadow: 
        0 0 7px #7ce7b9,
        0 0 calc(20px + (42 - 20) * ((100vw - 320px) / (1310 - 320))),
        0 0 calc(0px + (82 - 0) * (100vw - 320px) / (1310 - 320));
    }
    .about{
        margin-top: calc(50px + (250 - 50) * ((100vw - 320px) / (1150 - 320)));
    }
    .about__wrapper{
        padding-left: calc(10px + (20 - 10) * ((100vw - 320px) / (1150 - 320)));
        padding-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1150 - 320)));
    }
    .nav{
        width: calc(250px + (700 - 250) * ((100vw - 500px) / (1150 - 500)));
        font-size: calc(22px + (18 + 18 * 0.7) * (100vw - 500px) / 1150);
    }
    .audio__button{
        height: calc(30px + (55 - 30) * ((100vw - 500px) / (1150 - 500)));
        width: calc(110px + (200 - 110) * ((100vw - 500px) / (1150 - 500)));
        border: calc(2px + (5 - 2) * ((100vw - 500px) / (1150 - 500))) solid #aaac9c;
        font-size: calc(17px + (13 + 13 * 0.7) * (100vw - 500px) / 1150);
    }
    .audio__button img{
        width: calc(17px + (30 - 17) * ((100vw - 500px) / (1150 - 500)));
        height: calc(17px + (30 - 17) * ((100vw - 500px) / (1150 - 500)));
    }
    .header{
        height: calc(50px + (100 - 50) * ((100vw - 320px) / (1150 - 320)));
        box-sizing: content-box;
        border-bottom: calc(1px + (3 - 1) * ((100vw - 320px) / (1150 - 320))) solid #aaac9c;
    }
    .main{
        padding-top: calc(51px + (103 - 51) * ((100vw - 320px) / (1150 - 320)));;
    }
    .main__wrapper{
        padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1150 - 320)));
        padding-left: calc(10px + (20 - 10) * ((100vw - 320px) / (1150 - 320)));
        padding-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1150 - 320)));
    }
    .main__title{
        font-size: calc(25px + (95 + 95 * 0.7) * (100vw - 320px) / 1150);
        width: calc(180px + (600 - 180) * ((100vw - 320px) / (1150 - 320)));
        line-height: calc(30px + (120 - 30) * ((100vw - 320px) / (1150 - 320)));
    }
    .main__image{
        width: calc(120px + (300 - 120) * ((100vw - 320px) / (1150 - 320)));
        height: calc((115px + (297 - 115) * ((100vw - 320px) / (1150 - 320))));
    }
}
@media (max-width: 500px){
    .nav{
        width: 100%;
        position: absolute;
        visibility: hidden;
        top: calc(51px + (62.25 - 51) * ((100vw - 320px) / (500 - 320)));
        left: 100%;
        flex-direction: column;
        transition: .3s;
        height: calc(100vh - calc(51px + (62.25 - 51) * ((100vw - 320px) / (500 - 320))));
        background-color: #2f2a2a;
    }
    .nav a{
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        position: relative;
    }
    .nav a::before{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 0%;
        background-color: #aaac9c;
        height: 1px;
        animation-name: forPseudo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .nav a:last-child::before{
        width: 0px;
        height: 0px;
    }
    .nav a:last-child::after{
        width: 0px;
        height: 0px;
    }
    .nav a::after{
        content: "";
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 30%;
        background-color: #aaac9c;
        height: 1px;
        animation-name: forPseudo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes forPseudo {
        0%{
            width: 0%;
        }
        50%{
            width: 50%;
        }
        100%{
            width: 0%;
        }
    }
    //classes for js
    .header__burger{
        display: flex;
        width: calc(25px + (30 - 25) * ((100vw - 320px) / (500 - 320)));
        height: calc(25px + (30 - 25) * ((100vw - 320px) / (500 - 320)));
        flex-direction: column;
        justify-content: space-around;
        transition: .3s;
        align-items: center;
    }
    .header__burger span{
        width: 100%;
        height: 1px;
        background-color: #aaac9c;
    }
    .burger__active{
        transition: .3s;
        transform: rotate(90deg);
    }
    .locked{
        transition: .3s;
        overflow: hidden;
    }
    .nav__active{
        transition: .3s;
        left: 0%;
        visibility: visible;
    }
    //js
}

//hover for desktop
@media (min-width: 1000px){
.audio__button:hover div{
    animation-name: hoverAudio;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
}